@{
    ViewData["Title"] = "Forms";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@await Html.PartialAsync("_Alerts")

<form asp-action="Index" asp-controller="Forms" method="post" class="form-horizontal" novalidate="novalidate" id="myForm">
    @await Component.InvokeAsync("Address", new { address = Model })
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(document).ready(function () {

            setFormValidation("myForm");
        })
    </script>
}