@{
    ViewData["Title"] = "Forms";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="list-group">
    <a asp-area="" asp-controller="Forms" asp-action="BootstrapValidationStyle" class="list-group-item">
        <h4 class="list-group-item-heading">Bootstrap Validation Style</h4>
        <p class="list-group-item-text">Add bootstrap validation styles to ASP.NET MVC form</p>
    </a>
    <a asp-area="" asp-controller="Forms" asp-action="LocalizedForm" class="list-group-item">
        <h4 class="list-group-item-heading">Localized</h4>
        <p class="list-group-item-text">Localized form with globalize.js 1.0.0.</p>
    </a>
    <a asp-area="" asp-controller="Forms" asp-action="UploadAndDisplayImage" class="list-group-item">
        <h4 class="list-group-item-heading">Upload & Display Image</h4>
        <p class="list-group-item-text">Upload and display an image.</p>
    </a>
</div>