@using BootstrapMvc.UI.ViewModels
@model OrderViewModel

@{
    ViewData["Title"] = "Localized";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Forms" asp-action="Index">Forms</a></li>
    <li class="active">Localized</li>
</ul>

@await Html.PartialAsync("_Alerts")

<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <h4>Globalize demo for the <em id="locale"></em> culture / locale</h4>
            <p>This is a number <strong id="number"></strong> formatted by Globalize: <strong id="numberFormatted"></strong></p>
            <p>This is a date <strong id="date"></strong> formatted by Globalize: <strong id="dateFormatted"></strong></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <form asp-action="Localized" asp-controller="Forms" method="post" class="form-horizontal" novalidate="novalidate" id="myForm">
                @await Component.InvokeAsync("Order", new { order = Model })
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("_GlobalizationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {

            Globalize.locale("nl");

            var locale = 'nl';
            var number = 12345.67;
            var date = new Date();

            var globalize = Globalize(locale);
            document.querySelector('#locale').innerText = locale;
            document.querySelector('#number').innerText = number;
            document.querySelector('#date').innerText = date;
            document.querySelector('#numberFormatted').innerText = globalize.formatNumber(number, { minimumFractionDigits: 2, useGrouping: true });
            document.querySelector('#dateFormatted').innerText = globalize.formatDate(date, { date: 'long' });

            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true,
                weekStart: 1,
                todayBtn: true,
                autoclose: true
            });

            setFormValidation("myForm");
        })
    </script>
}
