@{
    ViewData["Title"] = "Show & Hide Password";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Forms" asp-action="Index">Forms</a></li>
    <li class="active">Show & Hide Password</li>
</ul>

@await Html.PartialAsync("_Alerts")

<form action="" method="post" id="login">
    <div>
        <input type="password" id="pwd" name="pwd" />
    </div>
    <div>
        <input type="checkbox" id="show-hide" name="show-hide" value="" />
        <label for="show-hide">Show password</label>
    </div>
    <p><input type="submit" value="Login" /></p>
</form>

@section Scripts {
    @* ReSharper disable once InconsistentNaming *@
    <script>
        (function () {

            var PasswordToggler = function (element, field) {
                this.element = element;
                this.field = field;

                this.toggle();
            };

            PasswordToggler.prototype = {
                toggle: function () {
                    var self = this;
                    self.element.addEventListener("change", function () {
                        if (self.element.checked) {
                            self.field.setAttribute("type", "text");
                        } else {
                            self.field.setAttribute("type", "password");
                        }
                    }, false);
                }
            };

            document.addEventListener("DOMContentLoaded", function () {
                var checkbox = document.querySelector("#show-hide"),
                    pwd = document.querySelector("#pwd"),
                    form = document.querySelector("#login");

                form.addEventListener("submit", function (e) {
                    e.preventDefault();
                }, false);

                var toggler = new PasswordToggler(checkbox, pwd);

            });

        })();
    </script>
}