@{
    ViewData["Title"] = "Show & Hide Password";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Forms" asp-action="Index">Forms</a></li>
    <li class="active">Show & Hide Password</li>
</ul>

@await Html.PartialAsync("_Alerts")

<div class="well">
    <div class="h2">Using bootstrap-show-password.js</div>
    <form>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" id="username" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" id="pwd1" name="pwd1" class="form-control" autocomplete="off" placeholder="Password" data-toggle="password">
        </div>
        <div class="form-group">
            <button class="btn btn-success hold">Submit</button>
        </div>
    </form>
</div>

<div class="well">
    <div class="h2">Using custom CSS & Javascript</div>
    <form>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <div class="input-append input-group">
                <input type="password" id="pwd2" name="pwd2" class="form-control" autocomplete="off" placeholder="Password">
                <div title="Click here to show/hide password" class="add-on input-group-addon">
                    <label class="show-hide-checkbox" style="cursor: pointer; margin-bottom: 0px;">
                        <input type="checkbox" id="show-hide" name="show-hide" />
                        <i class="glyphicon icon-eye-open glyphicon-eye-open unchecked"></i>
                        <i class="glyphicon icon-eye-close glyphicon-eye-close checked"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success hold">Submit</button>
        </div>
    </form>
</div>


@*<div class="row">
        <div class="col-lg-6">
            <div class="input-apppend input-group">
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" autocomplete="off">
                <span class="add-on input-group-addon">
                    <label class="show-hide-checkbox" style="cursor: pointer; pointer-events: all;">
                        <input type="checkbox" id="show-hide" name="show-hide" />
                        <i class="fa fa-eye unchecked" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash checked" aria-hidden="true"></i>
                    </label>
                </span>
            </div>
        </div>
    </div>*@


@section Scripts {
    <script>
        (function () {

            var passwordToggler = function (element, field) {
                this.element = element;
                this.field = field;

                this.toggle();
            };

            passwordToggler.prototype = {
                toggle: function () {
                    var self = this;
                    self.element.addEventListener("change", function () {
                        if (self.element.checked) {
                            self.field.setAttribute("type", "text");
                        } else {
                            self.field.setAttribute("type", "password");
                        }
                    }, false);
                }
            };

            document.addEventListener("DOMContentLoaded", function () {
                var checkbox = document.querySelector("#show-hide"),
                    pwd = document.querySelector("#pwd2");

                var toggler = new passwordToggler(checkbox, pwd);
            });

            $("button.hold").on("click", function (event) {
                event.preventDefault();
                event.stopPropagation();
                console.log("Form submission prevented/stopped.");
            });

        })();
    </script>
}