@{
    ViewData["Title"] = "Show & Hide Password";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Forms" asp-action="Index">Forms</a></li>
    <li class="active">Show & Hide Password</li>
</ul>

@await Html.PartialAsync("_Alerts")

<div class="row">
    <div class="col-lg-12">
        <div class="input-prepend input-group">
            <span class="add-on input-group-addon">
                <label class="show-hide-checkbox" style="cursor: pointer; pointer-events: all;">
                    <input type="checkbox" id="show-hide" name="show-hide" />
                    <i class="fa fa-eye unchecked" aria-hidden="true"></i>
                    <i class="fa fa-eye-slash checked" aria-hidden="true"></i>
                </label>
            </span>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-lg-12">
        <div class="form-group has-feedback">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <div class="form-control-feedback">SHOW</div>
        </div>
    </div>
</div>*@


@section Scripts {
    <script>
        (function () {

            var passwordToggler = function (element, field) {
                this.element = element;
                this.field = field;

                this.toggle();
            };

            passwordToggler.prototype = {
                toggle: function () {
                    var self = this;
                    self.element.addEventListener("change", function () {
                        if (self.element.checked) {
                            self.field.setAttribute("type", "text");
                        } else {
                            self.field.setAttribute("type", "password");
                        }
                    }, false);
                }
            };

            document.addEventListener("DOMContentLoaded", function () {
                var checkbox = document.querySelector("#show-hide"),
                    pwd = document.querySelector("#pwd");

                var toggler = new passwordToggler(checkbox, pwd);
            });

        })();
    </script>
}