@{
    ViewData["Title"] = "Upload & Display Logo";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<p>Use this area to provide additional information.</p>
<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Forms" asp-action="Index">Forms</a></li>
    <li class="active">Upload & Display Logo</li>
</ul>
@await Html.PartialAsync("_Alerts")
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <form asp-action="UploadAndDisplayImage" asp-controller="Forms" method="post" class="form-horizontal" novalidate="novalidate" id="myForm">
                @await Component.InvokeAsync("ImageUpload", new { image = Model })
            </form>
        </div>
        <div class="well">
            @await Component.InvokeAsync("ImageDisplay", new { image = Model })
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {

            setFormValidation("myForm");
        })
    </script>
}