<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-envelope fa-fw"></i>&nbsp;Contact</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-envelope fa-fw"></i>&nbsp;About</a></li>
</ul>